* {
    background-color: black;
    color:antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    text-align: center;
    padding: 50px;
}

footer {
    text-align: center;
    padding: 35px;
}
main {
    display: flex;
    justify-content: center;
}

#website {
    padding: 0px 20px;
    text-align: center;
    width: 650px;
}

img {
    width: 100%;
    border: 1px black solid;
}

img:hover {
    border: 1px white dotted;
}

@media (max-width: 600px) {
    main {
        display: inline-flex;
        flex-wrap: wrap;
        width: 360px;
    }
    #website {
        width: 300px;
    }
}






