* {
    background-color: black;
    color:antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    text-align: center;
    padding: 35px;
}

.body {
    display: flex;
    justify-content: center;
}

#intro {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 35px;
}
