* {
    background-color: black;
    color:antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    text-align: center;
    padding: 50px;
}

main {
    display: flex;
    justify-content: center;
}


figure {
    flex-basis: 375px;
}

img {
    width: 100%;
}

footer {
    text-align: center;
    padding: 35px;
}

@media (max-width: 700px) {
    main {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 360px;
    }
    figure {
        width: 300px;
    }
}
