* {
    background-color: black;
    color:antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    text-align: center;
    padding: 35px;
}

footer {
    text-align: center;
    padding: 35px;
}

.poetry {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
}

#poetrypost {
    font-size: 16px;
    width: 600px;
    height: 250px;
    padding: 30px;
    overflow-y:auto;
}

h3 {
    text-align: center;
}
