* {
    background-color: rgb(0, 0, 0);
    color:antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    text-align: center;
    padding: 50px;
}

footer {
    text-align: center;
    padding: 35px;
}

.writing {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#post {
    font-size: 16px;
    width: 600px;
    height: 250px;
    padding: 30px;
    overflow-y:auto;
}

h3 {
    text-align: center;
}

